</div>
<footer>
    <div class="foot">
         <span id="copyright" style="  width:100%;color: white;font-size:1vw">
            &copy; <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
        </span>
    </div>
</footer>