<div id="scorecard">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Player 1</th>
            <th>Player 2</th>
            <th>Winner</th>
            <th>Status</th>
            
        </tr>
    </thead>
    <tbody>
        <% @scores.each do |score| %>
        <tr>
            <td><%= @players.find(score.player1).name %></td>
            <td><%= @players.find(score.player2).name %></td>
            <td><%=  @players.find(score.winner).name %></td>
            <td><%= score.status %></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>